.backgroundimg {
    width: 100%;
    height: 595px;
    overflow: hidden;
    background-image: url("../64.png");
    background-repeat: no-repeat;
    background-size: 70% 70%;
    /* background-position:left; */
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
   
  }